# Base do projeto (extracao de frames, contagem, avaliacao)
matplotlib==3.11.1
numpy==2.4.6
opencv-python==5.0.0.93
pandas==3.0.5
ultralytics==8.4.104
lap==0.5.13

torch==2.6.0+cu124
torchvision==0.21.0+cu124
onnx==1.21.0
onnxruntime-gpu==1.24.4
tensorrt_cu12==11.2.1.2
nvidia-modelopt==0.45.0
